<h1>〜つぶやき型メモ　TsubuMeMo〜</h1>
<p>SNSのタイムラインのようにメモを残すサービスです。</p>
<p>感じたこと、勉強したこと、ほしいものリストなど、</p>
<p>つぶやきながらメモすることで、時間の流れとともに</p>
<p>メモを振り返ることができます。</p>
<p>利用例</p>
<%= image_tag 'example.png', alt: 'example', height: 500, id: "example" %>
<p>興味がある方は、<%= link_to "アカウント登録", signup_path %>をお願いします！</p>
<p>本サービスは経験ゼロプログラマHirotsuruのリリース第１弾です</p>
<p>本サービスに関してコメント等があれば<%= link_to "ポートフォリオ", 'http://www.hirotsuru.sakura.ne.jp/portfolio/index.html', target: "_blank" %>のContactフォームからご連絡ください。</p>

