<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "TsubuMeMo", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "TsubuMeMoについて",   '#' %></li>
        <li><%= link_to "ログイン",   '#' %></li>
        <li><%= link_to "管理者", '#' %></li>
      </ul>
    </nav>
  </div>
</header>