<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag('TsubuMeMo_logo.jpeg', alt: 'TsubuMeMo', height: 50), '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "TsubuMeMoについて",   '#' %></li>
        <li><%= link_to "ログイン",   '#' %></li>
        <li><%= link_to "管理者", 'http://www.hirotsuru.sakura.ne.jp/portfolio/index.html', target: "_blank" %></li>
      </ul>
    </nav>
  </div>
</header>